:root {
    --primary: #39c0ed;
}

html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html::-webkit-scrollbar-track {
    background: #d2d2d6;
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb {
    background: #2f6fcf;
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #d2d2d6;
    cursor: pointer;
}

body {
    color: #e8e8e8;
    width: 60%;
    margin: auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background: #3a3a3a !important;
}

.ml-auto {
    margin-left: auto;
}

.overflow-hidden {
    overflow: hidden;
}


.mr-auto {
    margin-right: auto;
}

.header {
    color: white;
    background: var(--primary);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
}

.user-col {
    background: #1f2029;
}

.all-content {
    box-shadow: 0 3px 10px rgba(84, 84, 84, 0.2);
    border-radius: 1rem !important;
    /*overflow: hidden;*/
}

.chat-content {
    /*border-bottom-left-radius: 1rem;*/
    /*border-bottom-right-radius: 1rem;*/
    height: 70vh;
    display: flex;
    flex-direction: column;
    background: #17181f;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

ul {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-grow: 1;
    padding: 1rem;
}

li.message {
    padding: 1rem;
    background: #30333f;
    border-radius: 1rem;
    /*box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);*/
    width: fit-content;
    max-width: 80%;
    margin-top: 1rem;
}

.user-item {
    cursor: pointer;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: #30333f;
    border-radius: 1rem;
}

.user-item.active {
    color: var(--primary);
}

.form-control {
    background: #30333f;
    border: none;
}

.form-control:focus {
    background: #30333f;
    border: none;
}

.user-container {
    background: #1f2029;
}

.border-end {
    border-right: 1px solid #3a3a3a !important;
}

.user-col {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.border-bottom {
    border-bottom: 1px solid #3a3a3a !important;
}

.input-group {
    padding: 1rem;
}

button.btn {
    background: #fbf2d1 !important;
}

button.btn:hover, button.btn:focus {
    color: #212529 !important;
}